@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*declare colors*/
:root {
  --primary-deep: #303f9f;
  --primary: #3f51b5;
  --light-font: #464646;
  --sidebar-hover: #f7f7f7;
  --sidebar-icon-bg: #607d8b;
  --dashboard-bg: #efefef;
  --green: #4caf50;
  --skyblue: #2196f3;
  --red: #e91e63;
}

/* reset the default styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

body {
  background-color: #efefef;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
}

/* login page */

#login-container {
  height: 100vh;
}

#login-form {
  width: 420px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.14);
  color: rgba(70, 70, 70);
  text-align: center;
}

#login-form h2 {
  font-weight: 700;
  font-size: 30px;
  margin-top: 0.5rem;
}

#login-form h5 {
  font-weight: 400;
  font-size: 14px;
}

#login-form .form-check input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 0;
  margin-right: 10px; /* Space between checkbox and label */
}

#login-form .form-check input:checked {
  border: 1px solid #303f9f;
  background-color: #303f9f;
  color: #fff;
  cursor: pointer;
}

#login-form .form-check label {
  cursor: pointer;
  font-size: 14px;
  margin-top: 3px;
}

/* Dashboard */

/* ensure all the list items are stacked vertically */
.sidebar li,
.main-header li {
  display: flex;
  align-items: center;
}

.main-container {
  display: flex;
}

.sidebar {
  flex-shrink: 0;
  background-color: #fff;
  min-height: 100vh;
  width: 220px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transition: width 0.3s;
  overflow: hidden;
  white-space: nowrap; /* prevent text from wrapping */
  position: fixed;
  z-index: 1000;
}

.sidebar-nav-container {
  overflow: hidden;
  background-color: #fff;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transition: width 0.3s;
  height: calc(100% - 55px);
}

.sidebar.collapsed {
  width: 65px;
}

.sidebar.collapsed + .main {
  margin-left: 65px;
}

.sidebar.collapsed + .main .main-header {
  width: calc(100% - 65px);
}

.sidebar.collapsed:hover {
  width: 220px;
}

.sidebar .sidebar-header {
  width: 100%;
  height: 55px;
  background-color: var(--primary-deep);
  color: #fff;
}

/* logo for sidebar-header */

.logo {
  height: 100%;
}

.logo a {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  height: 100%;
}

.logo a *:first-child {
  flex: 0 0 65px;
  font-size: 25px;
}

.logo a *:last-child {
  flex: 0 0 calc(100% - 65px);
}

/* profile section for sidebar*/

.profile {
  display: flex;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.profile > *:first-child {
  flex: 0 0 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile > *:last-child {
  flex: 0 0 calc(100% - 65px);
  padding: 0 10px;
}

.profile .profile-img-container img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.profile .content a {
  font-size: 14px;
  color: var(--primary);
}

.profile .content .designation {
  font-size: 12px;
}

.profile .content .dropdown-item {
  color: var(--light-font);
}

/* sidebar nav */

.sidbar-nav a {
  display: flex;
  width: 100%;
  padding: 5px 0;
  padding-right: 1rem;
  color: var(--light-font);
  align-items: center;
}

.sidbar-nav ul li {
  flex-direction: column;
  font-size: 14px;
}

.sidbar-nav .dashboard {
  background-color: var(--sidebar-hover);
}

.inner-toggle {
  font-size: 12px;
}

.sidbar-nav .inner-drop {
  font-size: 13px;
}
.sidbar-nav li:first-child .icon-container {
  background-color: var(--sidebar-icon-bg);
  color: #fff;
}

.sidbar-nav a > *:first-child {
  flex: 0 0 40px;
  margin-left: 12px;
  margin-right: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.sidbar-nav a > *:nth-child(2) {
  flex: 1;
  text-transform: uppercase;
  padding-left: 12px;
  font-size: 12px;
  font-weight: bold;
}

.sidbar-nav a > *:last-child {
  font-size: 12px;
}

.sidbar-nav a:hover {
  background-color: var(--sidebar-hover);
}

.sidbar-nav a:focus .icon-container {
  background-color: var(--sidebar-icon-bg);
  color: #fff;
  background-color: var(--sidebar-icon-bg);
}

.sidbar-nav .inner-drop {
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.3s;
}

.sidbar-nav .inner-drop a {
  padding: 10px 0 10px 55px;
  overflow: hidden;
}

.sidbar-nav .inner-drop.open {
  height: max-content;
}

.sidbar-nav .toggle-icon.rotate {
  transform: rotate(-90deg);
}

/* main section */

.main {
  flex: 1 1 auto;
  margin-top: 55px;
  transition: margin-left 0.3s;
  margin-left: 220px;
}

.sidebar.collapsed:hover + .main {
  margin-left: 220px;
}

.main-header {
  background-color: var(--primary);
  height: 55px;
  position: fixed;
  width: calc(100% - 220px);
  margin-left: 220px;
  top: 0;
  right: 0;
  z-index: 1000;
  transition: width 0.3s;
}

.sidebar.collapsed:hover + .main .main-header {
  width: calc(100% - 220px);
}

.header-nav {
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 0 20px;
  position: relative;
}

.header-nav #nav-toggler ion-icon {
  font-size: 20px;
  padding: 5px 15px;
  cursor: pointer;
}

.header-nav .search-container {
  margin-left: 30px;
}

.header-nav .search-container .form-search {
  width: 240px;
  height: 38px;
  display: flex;
  align-items: center;
  background-color: #fff;
  position: relative;
}

.header-nav .search-container .form-search input {
  border: none;
  width: 100%;
  height: 100%;
  padding: 6px 14px;
  font-size: 14px;
  outline: none;
}

.header-nav .search-container .form-search button {
  position: absolute;
  border: none;
  background-color: transparent;
  color: var(--light-font);
  font-size: 1rem;
  display: flex;
  align-items: center;
  right: 15px;
}

.header-nav .scan {
  margin-left: 30px;
}

.header-nav .scan a {
  display: flex;
  align-items: center;
}

.header-nav .site-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.header-nav .site-logo a {
  color: #fff;
  font-size: 24px;
  font-weight: 900;
}

/* mian body */

.main {
  overflow: hidden;
  font-size: 14px;
  color: #464646;
}

.main-content {
  padding: 20px;
  background-color: #fff;
  min-height: calc(100vh - 55px);
  background-color: var(--dashboard-bg);
}

.main > .row {
  margin: 0 5px;
}

.panel ul li {
  border-left: 1px solid var(--primary-deep);
  position: relative;
  padding: 3px 0 3px 30px;
}

.panel ul li .point {
  position: absolute;
  left: 0;
  top: 9px;
  transform: translateX(-50%);
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background-color: var(--primary-deep);
}

.panel ul li span {
  font-size: 12px;
}

/* utility classes */

.fs-sm {
  font-size: 12px !important;
}

.fs-md {
  font-size: 14px !important;
}

.fs-x {
  font-size: 18px !important;
}

.flex-grow-2 {
  flex-grow: 2;
}

.nowrap {
  white-space: nowrap;
}

.end-label {
  text-align: end;
  padding-right: 1rem;
}

.end-label-lg {
  text-align: end;
  padding-right: 1rem;
}

@media screen and (max-width: 768px) {
  .end-label {
    text-align: start;
  }
}

@media screen and (max-width: 992px) {
  .end-label-lg {
    text-align: start;
  }
}

.btn-default {
  color: #464646;
  background-color: #ffffff;
  border-color: #e0e0e0;
}

.btn-default:hover {
  border-color: #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), 0 2px 8px rgba(0, 0, 0, 0.15),
    0 2px 12px rgba(0, 0, 0, 0.15);
}

/* floating label input-group */

.floating-label {
  position: relative;
}

.floating-label input {
  margin-top: 2rem;
  border: none;
  border-bottom: 1px solid #efefef;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  padding: 5px 0;
}

.floating-label input:focus {
  border-bottom: 2px solid #303f9f;
}

.floating-label label {
  position: absolute;
  top: 2rem;
  left: 0;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.3s;
}

.floating-label input:focus + label {
  top: 5px;
  font-size: 12px;
  color: #303f9f;
}

.floating-label label.typed {
  top: 1rem;
}

.panel {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.panel:hover {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.14);
}

.panel ion-icon {
  font-size: 42px;
  color: var(--light-font);
}

.panel .input-group ion-icon {
  font-size: 1rem;
}

.panel-header {
  padding: 14px 0;
  margin: 0 24px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.border-bottom {
  border-bottom: 1px solid #e4e4e4;
}

.panel-footer {
  padding: 8px 24px;
}

/* daily report page */

.invoice-table th {
  border: 1px solid #fff;
  background-color: #a2a2a2;
  color: #fff !important;
}

/* prepaid-list page */

.whiteframe {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

/* modify bootstrap classes */

.dropdown-item.active,
.dropdown-item:focus {
  background-color: transparent;
}

.text-primary {
  color: var(--primary) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.text-light {
  color: var(--light-font) !important;
}

.bg-success {
  background-color: var(--green) !important;
}

.bg-info {
  background-color: var(--skyblue) !important;
}

.bg-danger {
  background-color: var(--red) !important;
}

.text-success {
  color: var(--green) !important;
}

.btn {
  font-size: 14px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 8px 16px;
}

.btn:hover {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

.btn-primary {
  background-color: var(--primary) !important;
  border-color: #3e4fb1;
}

.btn-primary:hover {
  background-color: #32408f !important;
}

.btn-outline-primary {
  border-color: var(--primary) !important;
  color: var(--primary) !important;
}

.btn-outline-primary:hover {
  background-color: var(--primary) !important;
  color: #fff !important;
}

.btn-success {
  background-color: var(--green) !important;
  border-color: #4aab4e !important;
}

.btn-success:hover {
  background-color: #3d8b40 !important;
}
.btn-outline-success {
  border-color: var(--green) !important;
  color: var(--green) !important;
}

.btn-success.active {
  background-color: #3d8b40 !important;
}

.btn-outline-success:hover {
  background-color: var(--green) !important;
  color: #fff !important;
}

.text-info {
  color: var(--skyblue) !important;
}

.text-danger {
  color: var(--red) !important;
}

.form-control {
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #e4e4e4;
  border-radius: 0;
}

.form-control:focus {
  border-bottom: 2px solid #1976d2;
  box-shadow: none;
}

.input-group {
  height: 38px;
}

.input-group-text {
  background-color: #eee;
  border-radius: 0;
}

.form-select {
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #e4e4e4;
  border-radius: 0;
}

.form-select:focus {
  border-bottom: 2px solid #1976d2;
  box-shadow: none;
}

.table th,
.table td {
  padding: 10px 22px;
  vertical-align: middle;
}

/* datepicker calendar */

.datepicker {
  font-size: 12px;
  padding: 20px;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
/* also add some paddings to the days */

.datepicker-days th,
.datepicker-days td {
  padding: 5px;
}
/* make sunday red */

.datepicker-days th:nth-child(1),
.datepicker-days td:nth-child(1),
.datepicker-days td.old.day:nth-child(1),
.datepicker-days td.new.day:nth-child(1) {
  color: red;
}

.datepicker th.dow,
.datepicker th.prev {
  color: #000 !important;
}

/* remove the red color for left arrows */

.datepicker-prev {
  color: #000 !important;
}

@media screen and (max-width: 768px) {
  .show-xs {
    display: block !important;
  }
  .hide-xs {
    display: none !important;
  }

  .main-header {
    width: 100%;
    margin-left: 0;
  }
  .main {
    margin-left: 0;
  }

  .sidebar {
    width: 0;
  }
  .sidebar.collapsed {
    width: 0;
  }
  .sidebar.active {
    width: 220px;
  }
}
